body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(157, 157, 181);
    text-align: center;
}
.container {
background-color:aqua;
border-radius:10px;
width:300px;
margin:auto;
}
button{
    border-radius:10px;
    padding:8px;
    cursor: pointer;
}
.done
{
    text-decoration:line-through;
    color:brown;
}
li{
    padding:10px;
    border-radius:5px;
    margin:10px;
    width:100%;
    
}